---
---

@charset "utf-8";
@import "bootstrap";

@import "cookies";
@import "partier";
@import "search";
@import "navigation";
@import "typed";
@import "fragor";
@import "rippleEffect";
@import "modal";
@import "default";
@import "sitenav";

@import "Noto_Sans";

#hemjumbotron {
    min-width: 100%;
    box-shadow: 0 0 #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    color: #fff;
    background-color: #009688;
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    #hemjumbotron{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 767px) {
    #hemjumbotron > h2{
        font-size: 26px;
    }
    #hemjumbotron{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
// Lines
.lineLarge{
    height: 1px;
    background-color: #ccc;
}

.center {
    margin: auto;
    width: 50%;
}

@media (max-width: 767px) {
    body {
        padding-top: 70px;
    }
}
.adsbygoogle{
    display:block;
}

.contentText{
    line-height: 1.6;
}
.list-group-item{
    border-radius: 0 !important;
}
.display-none{
    display: none;
}
.w-100{
    width: 100%;
}
.w-50{
    width:50%;
}
.noMargin {
    margin: 0;
}
.mgtop-0{
    margin-top:0;
}
.ptop-0{
    padding-top: 0 !important;
}