---
---

@charset "utf-8";
@import "bootstrap";

@import "cookies";
@import "partier";
@import "search";
@import "navigation";
@import "typed";
@import "fragor";
@import "rippleEffect";

@import "Noto_Sans";

html,body{
    height: 100%;
}

body {
    font-family: "Noto Sans", sans-serif;
    padding-top: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    color: #fff;
    background: #00796B;
}

#title {
    position: relative;
    margin-bottom: 10px;
    max-width: 100%;
    height: 60px;
    padding-top: 20px;
    color: inherit;
    margin-left: 0;
}

#content {
    padding-top: 20px;
    flex: 1 0 auto;
    margin-bottom: 20px;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: #fff;
    background: #00796B;
    box-shadow: 0 -1px 3px rgba(34, 25, 25, 0.4);
}

#pageTitle{
    color:inherit;
    margin-top:0
}

div > form > .simg{
    border: 0;
    width: 22px;
    height: 22px;
    line-height: 0;
}
.footer_content a{
    color: inherit;
    text-decoration: none;
}

#hemjumbotron {
    min-width: 100%;
    box-shadow: 0 0 #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    color: #fff;
    background-color: #009688;
}
@media (max-width: 767px) {
    #hemjumbotron > h2{
        font-size: 26px;
    }
}
#mail > a:hover,
.footer_content > a:hover{
    color: #bdc3c7;
}
.noMargin {
    margin: 0;
}
.TypedText{
    display: inline-block;
}
// Lines
.linesmall{
    height: 1px;
    width: 20%;
    background-color: #ccc;
}
.lineMedium{
    height: 1px;
    width: 50%;
    background-color: #ccc;
}
.lineLarge{
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.center {
    margin: auto;
    width: 50%;
}

@media (max-width: 767px) {
    body {
        padding-top: 70px;
    }
}

.contentText{
    line-height: 1.6;
}
.list-group-item{
    border-radius: 0 !important;
}
// Donate button and modal

.modalButton{
    background: #fff;
    border: 2px solid #00796B;
    color: #00796B;
    margin: 10px 0;
}
.modal-title{
    font-size: 2rem;
}
.modal-dialog {
    max-width: 40vh;
}
.modal-body > img{
    width: 100%;
}
@media (max-width: 767px) {
    .modal-dialog{
        max-width: 100%;
    }
    .modal-body > img{
        margin: auto;
        width: 60% !important;
        display: block;
    }
}
