
.icon-search:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */