<!-- Cookie banner -->
    <div id="cookie-banner" class="display-none">
        <button type="button" class="close bannerClose" onclick="closeBanner()">&times;</button>
        <div class="container">
            <p class="lead cookie-text">Partiguiden.nu använder webbkakor från Google för att personliggöra annonser och för att analysera trafik. Information om din användning av vår hemsida delas med Google för det ändamålet.</p>
            <button onclick="gaOpt()" class="cookies-button btn">
                <span>Jag godkänner</span>
            </button>
            <a target="_blank" class="read-more btn" href="https://www.google.com/intl/en/policies/technologies/cookies/">
                <span>Läs mer</span>
            </a>
        </div>
    </div>