    <!-- footer -->
    <footer id="footer" class="w-100 py-4 mt-3 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 offset-md-4 footer_content">
                    <h6 class="copyright font-weight-light">©
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>
                        Axel Pettersson</h6>
                    <h6  class="font-weight-light" id="mail">
                        <a href="mailto:contact@partiguiden.nu"><i class="icon-font icon-mail-alt">&#xf0e0;</i> contact@partiguiden.nu</a>
                    </h6>
                    <a target="_blank" href="https://www.facebook.com/partiguiden/"> <i class="icon-font h2 icon-facebook-squared">&#xf308</i> </a>
                    <!--
                    <div class="display-none mt-3 font-weight-light" id="swishDiv">
                        <p>Skicka donationer till mig genom att swisha numret här under eller genom att skanna QR-koden via Swish-appen:</p>
                        <p>070-965 36 95</p>
                        <img class="w-75 rounded" src="/media/swish-qr.jpg" alt="Swish QR code">
                    </div>
                    -->
                </div>
                <!--
                <div class="col-md-2 offset-md-2">
                    <button class="btn modalButton btn-light" id="donationButton">Stöd mig</button>
                </div>
                -->
            </div>
        </div>
    </footer>