        {% for parti in site.data.order.root.parti %}
            <div id="{{parti.namn}}" class="display-none mb-3 mt-1 asikt" onclick="">
                <div id="{{parti.syntax}}" class="partititle text-center py-2">
                    <h3 class="my-2 font-weight-light">{{parti.namn}}</h3>
                </div>
                <div class="slidetoggle display-none">
                    {% assign amne_list = site.data[parti.syntax].root.amne %}
                    {% assign c = 0 %}
                    {% for amne in amne_list %}                    
                        {% for tag in page.tags %}
                            {% if amne.fraga == tag  %}
                                <h4 class="font-weight-light mt-2">{{tag}}</h4>
                                
                                {% if c != 1%}
                                <script>
                                    showStuff('{{parti.namn}}');
                                    showList('{{parti.syntax}}toggle');
                                </script>
                                {% endif %}
                                {% assign c = 1 %}

                                <div class="opinion_box">
                                    {% if amne.asikt[1] %}
                                        <ul class="font-weight-light pl-3 mt-2">
                                            {% for asikt in amne.asikt %}           
                                                <li>{{asikt}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p class="font-weight-light mb-0">{{amne.asikt}}</p>
                                    {% endif %}
                                    <a target="_blank" class="d-flex p-1 m-1" href="{{amne.adress}}">Läs mer på partiets hemsida »</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}