<!-- Quick navigation bar -->
<div class="siteNavCon">
    <div class="siteNav d-flex">
        <a id="Stoggle" href="#Socialdemokraterna" class="partiBox p-2 flex-column display-none bg-light text-center">S</a>
        <a id="Mtoggle" href="#Moderaterna" class="partiBox p-2 flex-column bg-light  display-none text-center">M</a>
        <a id="SDtoggle" href="#Sverigedemokraterna" class="partiBox p-2 flex-column display-none bg-light text-center">SD</a>
        <a id="MPtoggle" href="#Miljöpartiet" class="partiBox p-2 flex-column display-none bg-light text-center">MP</a>
        <a id="Ctoggle" href="#Centerpartiet" class="partiBox p-2 flex-column display-none bg-light text-center">C</a>
        <a id="Vtoggle"  href="#Vänsterpartiet" class="partiBox p-2 flex-column display-none bg-light text-center">V</a>
        <a id="Ltoggle"  href="#Liberalerna" class="p-2 partiBox flex-column display-none bg-light text-center">L</a>
        <a id="KDtoggle" href="#Kristdemokraterna" class="p-2 partiBox flex-column display-none bg-light text-center">KD</a>
    </div>
</div>

<!-- Scroll up button -->
<a id="scrollUp" class="h2 display-none position-fixed"><i class="icon-font icon-up-big">&#xe804;</i></a>
