#cookie-banner{
    width: 100%;
    color: #fff;
    text-align: center;
    position: fixed;
    background: #009688;
    overflow: hidden;
    z-index: 1000;
    bottom:0;
    padding: 20px 0;
}
.cookies-button{
    background: #fff;
    border: 2px solid #00796B;
    color: #00796B;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.cookies-button:hover{
    background-color: #00796B;
    color: #fff;
}
.read-more{
    background: #fff;
    border: 2px solid #00796B;
    color: #00796B;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.read-more:hover{
    background-color: #00796B;
    color: #fff;
}
.bannerClose{
    font-size: 30px;
    margin: 0 20px;
}
#cookie-banner > .container{
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .cookies-button{
        width: 30%;
    }
}
@media (max-width: 767px) {
    .cookies-button{
        width: 90%;
    }
    .read-more{
        margin-top: 10px;
        width: 40%;
    }
    .bannerClose{
        margin-top: -5px !important;
    }
    .cookie-text{
        font-size: 15px;
    }
}
