
#header {
    color: #fff;
    background: #00796B;
}
#title {
    flex: 0 0 100%;    
    height: 60px;
}
#content {
    padding-top: 5px;
    flex: 1 0 auto;
    margin-bottom: 15px;
}
#content > .container{
    margin-top: 10px;
}

#footer {
    background: #00796B;
    box-shadow: 0 -1px 3px rgba(34, 25, 25, 0.4);
}
@media (max-width: 767px){
    #footer{
        padding-bottom: 30px;
    }
}
.footer_content a{
    color: inherit;
    text-decoration: none;
}
#mail > a:hover,
.footer_content > a:hover{
    color: #bdc3c7;
}
.listItem{
    border: 2px solid #00796B;
    font-size: 15px;
    transition:  background-color 0.25s ease-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.listItem:hover,
.listItem:focus{
    text-decoration: none;
}
@media (max-width: 767px){
    .list-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .list-container:last-child{
        margin: 0;
    }
}
@media (min-width: 768px){
    .list-container{
        padding: 4px;
        width: 50%;
    }
}