
#header {
    color: #fff;
    background: #00796B;
}

#title {
    position: relative;
    margin-bottom: 10px;
    flex: 0 0 100%;    
    height: 60px;
    padding-top: 20px;
}

#content {
    padding-top: 5px;
    flex: 1 0 auto;
    margin-bottom: 15px;
}
#content > .container{
    margin-top: 10px;
}

#footer {
    margin-top: 15px;
    padding: 20px 0;
    color: #fff;
    background: #00796B;
    box-shadow: 0 -1px 3px rgba(34, 25, 25, 0.4);
}

@media (max-width: 767px){
    #footer{
        padding-bottom: 30px;
    }
}

#pageTitle{
    color:inherit;
    margin-top:0;
    font-weight: 300;
}

.footer_content a{
    color: inherit;
    text-decoration: none;
}

#mail > a:hover,
.footer_content > a:hover{
    color: #bdc3c7;
}
.list-group{
    display: inline-block;
}
.listItem{
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 2px solid #00796B;
    border-radius: 2px;
    color: #000;
    width: 100%;
    padding: 20px 15px;
    font-size: 15px;
    transition:  background-color 0.25s ease-out, color 0.25s ease-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.list-container{
    float: left;
}
@media (max-width: 767px){
    .list-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .list-container:last-child{
        margin: 0;
    }
}
@media (min-width: 768px){
    .list-container{
        padding: 4px;
        width: 50%;
    }
}
.listItem:hover,
.listItem:focus{
    text-decoration: none;
    color: #34495e;
    background-color: #ecf0f1;
}
.titlelink > img{
    max-height:100%; 
    max-width: 80%;
}
.titlelink{
    height:100%;
}
.relevant_questions{
    margin-left: 7px;
    font-weight: 400;
}
.listSection{
    display: flex;
    flex-wrap: wrap;
}
.d-none-i{
    display: none;
}