.asikt{
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 0 0 3px 3px;
}
.asikt.active{
    background: #f6f6f6;

}
.slidetoggle li:before{
    background: #049372;
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    -khtml-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 6px;
    height: 6px;
}
.slidetoggle ul{
    padding: 0 0 10px 20px;
    margin: 10px 0 0 0;
    border-bottom: 2px solid #7f8c8d;
}
.slidetoggle li{
    list-style: none;
    position: relative;
    line-height: 20px;
}
.slidetoggle li+li{
    margin-top: 10px;
}
.asikt .slidetoggle{
    display: none;
    overflow: hidden;
}
.slidetoggle p{
    white-space: pre-wrap;
    overflow: visible;
    word-break: normal;
    word-wrap: normal;
    padding: 0 10px;
    position:relative; 
    margin-top:10px;
    margin-bottom:5px;
}
.partititle{
    background: #fbfbfb;
    cursor: pointer;
    padding:6px 0;
    text-align: center;
}
.partititle > h3{
    margin-top: 10px;
}
.listobjekt{
    z-index: 20;
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50%;
    float: left;
}
.listobjekt > a{
    background-color: #f6f6f6;
    padding-left: 10px;
    border-left: solid 2px #00796B;
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: #000;
    width: 100%;
    height: 100%;
}
.listobjekt > a > span{
    display: block;
    line-height: 50px;
    height: 50px;
    width: 100%;
}
@media (max-width:767px){
    .listobjekt{
        width:100%;
    }
}
@media (min-width:768){
    .listobjekt > a:hover{
        color: #000;
    }
}
.bokstav{
    z-index: 10;
    color: #fff;
    background-color: #049372;
    display: block;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    width: 100%;
    height: 30px;
}