// Donate button and modal

.modalButton{
    background: #fff;
    border: 2px solid #00796B;
    color: #00796B;
    margin: 10px 0;
}
.modal-dialog {
    max-width: 40vh;
}
@media (max-width: 767px) {
    .modal-dialog{
        max-width: 100%;
    }
    .modal-body > img{
        margin: auto;
        width: 60% !important;
        display: block;
    }
}