@charset "utf-8";

.profile{
    margin-bottom: 5px;
    padding: 20px;
}
.logo > img{
    padding: 10px;
    background-color: #fff;
    width: 100px;
}

#V{
    border: solid 2px #CF000F;
}
#S
{
    border: solid 2px #C0392B;
}
#KD
{
    border: solid 2px #22A7F0;
}
#M{
    border: solid 2px #3A539B;
}
#C{
    border: solid 2px #1E824C;
}
#L{
    border: solid 2px #5C97BF;
}
#SD{
    border: solid 2px #F4D03F;
}
#MP{
    border: solid 2px #26A65B;
}