@charset "utf-8";

#Vänsterpartiet{
    border: solid 2px #CF000F;
}
#Socialdemokraterna
{
    border: solid 2px #C0392B;
}
#Kristdemokraterna
{
    border: solid 2px #22A7F0;
}
#Moderaterna{
    border: solid 2px #3A539B;
}
#Centerpartiet{
    border: solid 2px #1E824C;
}
#Liberalerna{
    border: solid 2px #5C97BF;
}
#Sverigedemokraterna{
    border: solid 2px #F4D03F;
}
#Miljöpartiet{
    border: solid 2px #26A65B;
}