@charset "utf-8";

.search-button{
    background: none;
    padding: 0;
}
#search-box{
    border-color: #00796B;
}
#search-results>a{
    padding-left: 4px;
    display: block;
    width: inherit;
    text-decoration: none !important;
    color: #6C7A89;
}
#search-results>a:hover{
    color: #000;
}
#search-results{
    border: solid 1px #00796B;
    font-size: 20px;
}
.search input {
    max-width: 100%;
    border: 0;
    background-color: inherit;
    border-bottom: 1px solid #fff;
}
.search > form {
    display: flex;
}

::-webkit-input-placeholder{
   color:    #D2D2D2;
}
:-ms-input-placeholder{ /* Internet Explorer 10-11 WebKit, Blink, Edge */
   color:    #D2D2D2;
}
:-moz-placeholder{
   color:    #D2D2D2;
   opacity:  1;
}
::-moz-placeholder{ /* Mozilla Firefox 19+ Mozilla Firefox 4 to 18 */

}

@media (max-width: 767px) {
    .search.desktop {
        display: none;
    }
    .search.phone>.search-form>input[type="text"]{
        width: 70%;
    }
    .search.phone {
        display: block;
        height: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        padding: 15px 10px;
    }
}
@media (min-width: 768px) {
    .search.desktop {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-bottom: 5px;
        margin-right: 22px;
    }
    .search.phone {
        display: none;
    }
}