.siteNav{
    position: fixed;
    z-index: 100;
}
.partiBox:focus,
.partiBox:hover{
    text-decoration: none;
    transition: background-color .15s ease-in-out;
}
.partiBox{
    font-size: 14px;
}
#scrollUp{
    color: #00796B;
    top: 0;
    right: 0;
    z-index: 200;
    transform: translate(-75%, 50%);
    cursor: pointer;
}
@media (min-width: 768px) {
    .siteNav{
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        flex-direction: column;
    }
    .partiBox{
        margin: 15px 0;
    }

}
@media (max-width: 767px) {
    .siteNav{
        flex-direction: row;
        bottom: 10px;
    }
    .siteNavCon{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .partiBox{
        margin: 0 3px;
    }
}
@media(max-width: 340px){
    .partiBox{
        margin: 0 1px;
    }
}

#Stoggle{
    color: #C0392B;
    border: solid 2px #C0392B;    
}
#Mtoggle{
    color: #3A539B;
    border: solid 2px #3A539B;    
}
#SDtoggle{
    color: #F4D03F;
    border: solid 2px #F4D03F;    
}
#MPtoggle{
    color: #26A65B;
    border: solid 2px #26A65B;    
}
#Ctoggle{
    color: #1E824C;
    border: solid 2px #1E824C;    
}
#Vtoggle{
    color: #CF000F;
    border: solid 2px #CF000F;    
}
#Ltoggle{
    color: #5C97BF;
    border: solid 2px #5C97BF;    
}
#KDtoggle{
    color: #22A7F0;
    border: solid 2px #22A7F0;    
}