.siteNav{
    position: fixed;
    flex-direction: column;
    z-index: 100;
    display: flex;
}
.siteNav > a{
    display: none;
    flex-direction: column;
}

.siteNav > a:hover{
    text-decoration: none;
    color: inherit;
}
.partiBox{
    text-align: center;
    background: #fff;
    font-size: 14px;
}
#scrollUp{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    transform: translate(-50%, 50%);
}
.scrollArrow{
    cursor: pointer;
    color: #00796B;
    width: 45.17px !important;
}
@media (min-width: 768px) {
    .siteNav{
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
    .partiBox{
        margin: 15px 0;
    }

}
@media (max-width: 767px) {
    .siteNav{
        flex-direction: row !important;
        bottom: 10px;
    }
    .siteNavCon{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .partiBox{
        margin: 0 3px;
    }
}
@media(max-width: 340px){
    .partiBox{
        margin: 0 1px !important;
    }
}

#Stoggle{
    padding: 10px;
    color: #C0392B;
    border: solid 2px #C0392B;    
}


#Mtoggle{
    padding: 10px;
    color: #3A539B;
    border: solid 2px #3A539B;    
}

#SDtoggle{
    padding: 10px;
    color: #F4D03F;
    border: solid 2px #F4D03F;    
}

#MPtoggle{
    padding: 10px;
    color: #26A65B;
    border: solid 2px #26A65B;    
}

#Ctoggle{
    padding: 10px;
    color: #1E824C;
    border: solid 2px #1E824C;    
}

#Vtoggle{
    padding: 10px;
    color: #CF000F;
    border: solid 2px #CF000F;    
}

#Ltoggle{
    padding: 10px;
    color: #5C97BF;
    border: solid 2px #5C97BF;    
}

#KDtoggle{
    padding: 10px;
    color: #22A7F0;
    border: solid 2px #22A7F0;    
}
