---
layout: default
---
<div id="content">
<!-- Quick navigation bar -->
<div class="siteNavCon">
    <div class="siteNav">
        <a id="Stoggle" data-ripple="#bdc3c7" href="#Socialdemokraterna" class="partiBox">S</a>
        <a id="Mtoggle" data-ripple="#bdc3c7" href="#Moderaterna" class="partiBox">M</a>
        <a id="SDtoggle" data-ripple="#bdc3c7" href="#Sverigedemokraterna" class="partiBox">SD</a>
        <a id="MPtoggle" data-ripple="#bdc3c7" href="#Miljöpartiet" class="partiBox">MP</a>
        <a id="Ctoggle" data-ripple="#bdc3c7" href="#Centerpartiet" class="partiBox">C</a>
        <a id="Vtoggle" data-ripple="#bdc3c7" href="#Vänsterpartiet" class="partiBox">V</a>
        <a id="Ltoggle" data-ripple="#bdc3c7" href="#Liberalerna" class="partiBox">L</a>
        <a id="KDtoggle" data-ripple="#bdc3c7" href="#Kristdemokraterna" class="partiBox">KD</a>
    </div>
</div>

<!-- Scroll up button -->
<a id="scrollUp"><i class="scrollArrow fas fa-chevron-up fa-2x"></i></a>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="/partiernas-standpunkter">Partiernas ståndpunkter</a></li>
                <li class="active">{{page.title}}</li>
            </ul>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h1 id="pageTitle">{{page.title}}</h1>
        </div>
        <!-- Content ad -->
        {% if site.url != 'http://localhost:4000' %}
        
        <div class="col-md-8 col-md-offset-2" align="center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3248338512924345"
                 data-ad-slot="6515707043"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        {% endif %}

        <div class="col-md-8 col-md-offset-2">
        {% for parti in site.data.order.root.parti %}
            <div id="{{parti.namn}}" class="asikt display-none">
                <div data-ripple="#bdc3c7" id="{{parti.syntax}}" class="partititle">
                    <h3>{{parti.namn}}</h3>
                </div>
                <div class="slidetoggle display-none">
                    {% assign amne_list = site.data[parti.syntax].root.amne %}
                    {% for amne in amne_list %}                    
                        {% for tag in page.tags %}
                            {% if amne.fraga == tag  %}
                                <h4>{{tag}}</h4>
                                <script>
                                    showStuff('{{parti.namn}}');
                                    showList('{{parti.syntax}}toggle');
                                </script>
                                <div class="opinion_box">
                                    {% if amne.asikt[1] %}
                                        <ul>
                                            {% for asikt in amne.asikt %}           
                                                <li>{{asikt}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>{{amne.asikt}}</p>
                                    {% endif %}
                                    <a target="_blank" href="{{amne.adress}}">Läs mer på partiets hemsida »</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        
    </div>
        <div class="col-md-8 col-md-offset-2">
            <div id="relaterade" class="hidden">
                <h4>Relaterade ämnen</h4>
                {% for page_cat in page.categories %}
                    {% for sida in site.artiklar %}
                        {% if sida != page %}
                            {% for cat in sida.categories %}
                                {% if cat == page_cat %}
                                    <script>showStuff('relaterade')</script>
                                    {% if cat != current_cat %}
                                        <div class="bokstav w-100 pull-left">
                                            <header>{{cat}}</header>
                                        </div>
                                    {% endif %}
                                    <div class="listobjekt w-100">
                                        <a href="{{ sida.url }}">
                                            <span>{{sida.title}}</span>
                                        </a>    
                                    </div>
                                    {% assign current_cat = cat %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
<script async src="/js/amne.js"></script>
