---
layout: default
---
<script type="text/javascript">
$(document).ready(function(){
    $(".partititle").click(function(){
        $(this).parent(".asikt").children('.slidetoggle').stop().slideToggle(300);
    })
});
</script>

<script type="text/javascript">
    function showStuff(id) {
    document.getElementById(id).style.display = 'block';
}
</script>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h1 id="pageTitle">{{page.title}}</h1>
        </div>
    <div class="col-md-6 col-md-offset-2">
        {% assign path = page.id | remove: "/artiklar/" %}


        <div id="Socialdemokraterna" class="asikt">
            <div id="S" class="partititle">
                <h3>Socialdemokraterna</h3>
            </div>
            <div class="slidetoggle">
                {% assign amne_list = site.data.socialdemokraterna.root.amne %}
                {% for amne in amne_list %}
                    {% for tag in page.tags %}
                        {% if amne.fraga == tag %}
                            <h4>{{tag}}</h4>
                            <script>
                                showStuff('Socialdemokraterna')
                            </script>
                            <h5>Socialdemokraterna vill:</h5>
                            <ul>
                                {% for asikt in amne.asikt %}           
                                    <li>{{asikt}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        
        
        <div id="Moderaterna" class="asikt">
            <div id="M" class="partititle">
                <h3>Moderaterna</h3>
            </div>
            <div class="slidetoggle">
                {% assign amne_list = site.data.moderaterna.root.amne %}
                {% for amne in amne_list %}
                    {% for tag in page.tags %}
                        {% if amne.fraga == tag %}
                            <h4>{{tag}}</h4>
                            <script>
                                showStuff('Moderaterna')
                            </script>
                            <ul>
                                {% for asikt in amne.asikt %}           
                                    <li>{{asikt}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        
        
        {% if site.data[path].sd != NULL %}
        <div class="asikt">
        {% assign sd = site.data[path].sd %}
            <div id="SD" class="partititle">
                <h3>{{sd.parti}}</h3>
            </div>
            <div class="slidetoggle">
                <p>{{sd.asikt}}</p>
            </div>
        </div>
        {% endif %}
        {% if site.data[path].mp != NULL %}
        <div class="asikt">
        {% assign mp = site.data[path].mp %}
            <div id="MP" class="partititle">
                <h3>{{mp.parti}}</h3>
            </div>
            <div class="slidetoggle">
                <p>{{mp.asikt}}</p>
            </div>
        </div>
        {% endif %}
        {% if site.data[path].v != NULL %}
        <div class="asikt">
        {% assign v = site.data[path].v %}
            <div id="V" class="partititle">
                <h3>{{v.parti}}</h3>
            </div>
            <div class="slidetoggle">
                <p>{{v.asikt}}</p>
            </div>
        </div>
        {% endif %}
        {% if site.data[path].l != NULL %}
        <div class="asikt">
        {% assign l = site.data[path].l %}
            <div id="L" class="partititle">
                <h3>{{l.parti}}</h3>
            </div>
            <div class="slidetoggle">
                <p>{{l.asikt}}</p>
            </div>
        </div>
        {% endif %}
        {% if site.data[path].c != NULL %}
        <div class="asikt">
        {% assign c = site.data[path].c %}
            <div id="C" class="partititle">
                <h3>{{c.parti}}</h3>
            </div>
            <div class="slidetoggle">
                <p>{{c.asikt}}</p>
            </div>
        </div>
        {% endif %}
        {% if site.data[path].kd != NULL %}
        <div class="asikt">
        {% assign kd = site.data[path].kd %}
            <div id="KD" class="partititle">
                <h3>{{kd.parti}}</h3>
            </div>
            <div class="slidetoggle">
                <p>{{kd.asikt}}</p>
            </div>
        </div>
        {% endif %}
        

        
    </div>
        <div class="col-md-3">
            <div class="relaterade">
                <h4>Relaterade artiklar</h4>
                {% for page_cat in page.categories %}
                    {% for sida in site.artiklar %}
                        {% if sida != page %}
                            {% for cat in sida.categories %}
                                {% if cat == page_cat %}
                                    {% if cat != current_cat %}
                                        <div class="bokstav">
                                            <header>{{cat}}</header>
                                        </div>
                                    {% endif %}
                                    <div class="listobjekt" style="width:100%">
                                        <a href="{{ site.baseurl }}{{ sida.url }}">
                                            <span>{{sida.title}}</span>
                                        </a>    
                                    </div>
                                    {% assign current_cat = cat %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>